/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';

body {
  background-color: yellow;
  margin: 0;
  padding: 0;
  height: auto;
}

div[ng-view]{
  height: 100%;
}
