.evento-create {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
}

.evento-create-main {
    width: 1024px;
}

.form-main-1 {
    display: flex;
    flex-direction: row;
}

.form-1 {
    width: 311px;
}

.form-1 img {
    width: 311px;
    height: 248px;
}

.form-2 {
    flex-flow: 2;
    width: 100%;
    padding-left: 20px;
    box-sizing: border-box;
}

.form-group:first-of-type {
    margin-top: 0;
}

.form-group {
    margin: 15px 0;
}

.btn-upload {
    width: 100%;
    margin: 10px 0;
    border-radius: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-transform: uppercase;
    color: white;
    font-weight: 500;
}

.form-control {
    border-radius: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pesquisa-palestrante {
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

.pesquisa {
    display: flex;
    flex-direction: row;
}

.search-card {
    display: flex;
    flex-direction: row;
    background: white;
    border: 1px solid white;
    border-radius: 13px;
    box-sizing: border-box;
    width: 45%;
    flex: auto;
    justify-content: space-between;
    padding: 5px;
}

.search-card p {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 500;
    align-items: baseline !important;
    align-content: center !important;
    margin: 0 !important;
    padding: 0 !important;
}

.search-card button {
    font-size: 12px;
}

.search-card img {
    width: 50px;
    height: 50px;
}