<div class="eventos">
  <div class="page-header">
    
    <div class="titulo-evento">
      <h3>Lista de Eventos</h3>
      <a class="btn shadow">Novo +</a>
    </div>
    
    <hr>
  
    <div class="barra-pesquisa">
        <div class="pesquisa">
            <input
            type="text"
            class="form-control"
            placeholder="pesquisar.."
            [(ngModel)]="pesquisar"
          />
          <!-- <button type="button">
            <i class="fa fa-search"></i>
          </button> -->
        </div>
    </div>  
  </div>
  
  <div class="alert alert-success" *ngIf="eventos.length == 0" >
    Nenhum evento encontrado!
  </div>
  
  <button (click)="toggleImage()" class="btn btn-link mb-2">
    <i *ngIf="mostrarImagens == true" class="fa fa-eye"></i>
    <i *ngIf="mostrarImagens == false" class="fa fa-eye-slash"></i>
    {{!mostrarImagens ? "exibir imagens" : "ocultar imagens"}}
  </button>
  
  <div class="card-list">
    <div class="card shadow p-4 mb-4 bg-white" *ngFor="let evento of eventosFiltrados">
      <div class="card-body" >
        <img class="card-img-top"
          alt="Não encontrada"
          [collapse]="!mostrarImagens"
          src={{evento.imageUrl}}
          [isAnimated]="true" style="max-height: 200px;" />
  
          <u class="card-text evento">
            <li><strong>Local: </strong> {{evento.local}}</li>
            <li><strong>Tema: </strong> {{evento.tema}}</li>
            <li><strong>Data: </strong> {{evento.data}}</li>
            <li><strong>Qtd. Pessoas: </strong> {{evento.qtdePessoas}}</li>
            <li><strong>Lote: </strong> {{evento.lote}}</li>
          </u>
          
          <div style="text-align: center;padding: 15px 0;">
            <button class="btn btn-info">
              <i class="fa fa-external-link"></i>
            </button>
            <span style="margin: 0 7px;">
              <button class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </button>
            </span>
            <button class="btn btn-danger">
              <i class="fa fa-trash-o"></i>
            </button>          
          </div>
      </div>
    </div>
  </div>
</div>